@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');


body {
	margin: 0;
	background-color: rgb(235, 217, 253);
	font-family: 'IBM Plex Sans', sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

.header {
	background-color: rgb(235, 217, 253);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.logo {
	width: 40px;
	height: 40px;
	box-sizing: border-box;
}

.nav {
	display: flex;
	align-items: center;
	margin-left: 5%;
}

.links {
	margin-left: 30%;
	text-decoration: none;
	font-weight: 500;
}

.sign-in {
	display: block;
	-webkit-appearance: none;
	border: none;
	width: 85px;
	height: 45px;
	background-color: rgb(0, 183, 255);
	color: aliceblue;
	border-radius: 7px;
	cursor: pointer;
	margin-right: 5%;
}

.contanier {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: center;
	margin-left: 10%;
	width: 500px;
}

.Hi {
	height: 920px;
	background-color: rgb(235, 217, 253);
	display: flex;
	align-items: center;
}

.welcome {
	font-size: 15px;
	font-weight: 500;
}

.brand-name {
	font-size: 100px;
}

.preview {
	font-weight: 500;
	font-size: 15px;

}

.dot {
	color: rgb(0, 183, 255);
}

.try-demo {
	display: block;
	-webkit-appearance: none;
	border: none;
	width: 120px;
	height: 45px;
	background-color: rgb(0, 183, 255);
	color: aliceblue;
	border-radius: 7px;
	cursor: pointer;
	margin-top: 5%;
}

div.companyes {
	background-color: rgb(207, 238, 243);
}

.companyes {
	display: flex;
	justify-content: center;
}

.img-colab {
	width: 120px;
	margin: 5%;
}

.select-plan {
	height: 920px;
	background-color: rgb(235, 217, 253);
}

.Buy-text {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3% 0 7% 0;
	/* background-color: rgb(235, 217, 253); */
}

.select-box {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.block-buy {
	width: 350px;
	height: 500px;
	border-radius: 20px;
	background-color: rgb(207, 238, 243);
	margin: 0 5% 0 5%;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #000000;
}
.basket{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 200px;
}

.basketIN {
	width: 350px;
	height: 100px;
	border-radius: 20px;
	background-color: rgb(207, 238, 243);
	margin: 0 5% 0 5%;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #000000;
	justify-content: center;
}
button.buy-plan{
	margin-bottom: 0px;
}

.option {
	display: flex;
	align-items: center;
}

.Price {
	font-size: 30px;
	font-weight: 700;
}

.describe {
	margin-top: 5%;
}

.buy-plan {
	width: 200px;
	height: 40px;
	background-color: rgb(0, 183, 255);
	display: block;
	-webkit-appearance: none;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	margin-top: 5%;
	font-weight: 400;
}

.yes-no {
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	display: flex;
	margin: 0;
}

li {
	list-style-type: none;
}

ul {
	margin-left: 0;
	/* IE и Opera */
	padding-left: 0;
	/* Firefox, Safari, Chrome */
}

.followUS {
	width: 35px;
	padding: 1rem;
	margin-right: 10px;
	cursor: pointer;
}

p#c4 {
	height: 10px;
}

footer {
	display: flex;
	justify-content: space-evenly;
	margin-top: 100px;
}

#address {
	line-height: 26px;
}

#c4 {
	width: 300px;
	height: 100px;
	display: flex;
	justify-content: space-evenly;
}

.headingC {
	font-size: 20px;
}

body[data-theme="dark"] {
	color: #fff;
	background-color: rgb(80, 92, 94);
}

.header[data-theme="dark"] {
	background-color: rgb(71, 60, 83);
}

.Hi[data-theme="dark"] {
	background-color: rgb(71, 60, 83);
}

.select-plan[data-theme="dark"] {
	background-color: rgb(71, 60, 83);
}

.block-buy[data-theme="dark"] {
	background-color: rgb(80, 92, 94);
}


/* .lnks[data-theme="dark"] {
	color: white;
}

.lnks:hover[data-theme="dark"] {
	color: white;
}

.lnks:visited[data-theme="dark"] {
	color: white;
}

Не забыть data-theme="dark" */

.desc-ON {
	font-weight: 500;
	color: #000000;
}

.desc-OFF {
	color: rgb(168, 167, 167);
	font-weight: 400;
}

A:visited {
	color: #000000;
}

A:active {
	color: #000000;
}

a {
	color: #000000;
	font-weight: 400;
	text-decoration: none;

}

.lnks:visited[data-theme="dark"] {
	color: aliceblue;
}

.lnks:active[data-theme="dark"] {
	color: aliceblue;
}

.lnks[data-theme="dark"] {
	color: aliceblue;
}

.ff {
	background-color: rgb(0, 183, 255);
	margin: 10px;
}

/* Дизайн для 404 ниже */

@import url(https://fonts.googleapis.com/css?family=opensans:500);

.NotFound {
	background: rgb(242, 147, 255);
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	max-height: 700px;
	overflow: hidden;
	margin-bottom: 130px;
}

.c {
	text-align: center;
	display: block;
	position: relative;
	width: 80%;
	margin: 100px auto;
}

._404 {
	font-size: 220px;
	position: relative;
	display: inline-block;
	z-index: 2;
	height: 250px;
	letter-spacing: 15px;
}

._1 {
	text-align: center;
	display: block;
	position: relative;
	letter-spacing: 12px;
	font-size: 4em;
	line-height: 80%;
}

._2 {
	text-align: center;
	display: block;
	position: relative;
	font-size: 20px;
}

.text {
	font-size: 70px;
	text-align: center;
	position: relative;
	display: inline-block;
	margin: 19px 0px 0px 0px;
	/* top: 256.301px; */
	z-index: 3;
	width: 100%;
	line-height: 1.2em;
	display: inline-block;
}


.btn {
	background-color: rgb(255, 255, 255);
	position: relative;
	display: inline-block;
	width: 358px;
	padding: 5px;
	z-index: 5;
	font-size: 25px;
	margin: 0 auto;
	color: #33cc99;
	text-decoration: none;
	margin-right: 10px
}

.right {
	float: right;
	width: 60%;
}

hr {
	padding: 0;
	border: none;
	border-top: 5px solid #fff;
	color: #fff;
	text-align: center;
	margin: 0px auto;
	width: 420px;
	height: 10px;
	z-index: -10;
}

hr:after {
	content: "\2022";
	display: inline-block;
	position: relative;
	top: -0.75em;
	font-size: 2em;
	padding: 0 0.2em;
	background: #33cc99;
}

@-webkit-keyframes moveclouds {
	0% {
		margin-left: 1000px;
	}

	100% {
		margin-left: -1000px;
	}
}

@-moz-keyframes moveclouds {
	0% {
		margin-left: 1000px;
	}

	100% {
		margin-left: -1000px;
	}
}

@-o-keyframes moveclouds {
	0% {
		margin-left: 1000px;
	}

	100% {
		margin-left: -1000px;
	}
}
